.dark-mode__texto {
    display: none;
}

.button__Container {

    width: 100%;
    display: flex;
    justify-content: flex-end;

    margin-bottom: 0.5em;
}

.dark__mode-container {

    background: none;
    border: none;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    width: 14em;
    height: 3em;
}

.dark__mode {

    width: 3em;
    height: 3em;

    background: var(--azul);

    border: 2px solid var(--preto);
    border-radius: 1em;
}
