#habilidades {
    display: block;
    margin: 0 0 2em 0;
}

.habilidades__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__texto-habilidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.habilidades__titulo {
    text-align: center;
    padding: 1.5em 0 1em 0;
    font-family: var(--roboto);
    font-weight: 700;
}

.habilidades__imagens-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.habilidades__imagens {
    width: 145px;
    height: 190px;

    transform: scale(0.8);
}

#html-logo {
    background-image: url(../img/html_sem_cor.png);
}
#html-logo:hover {
    background-image: url(../img/html_colorido.png);
    transform: scale(0.9);
}

#css-logo {
    background-image: url(../img/css_sem_cor.png);
}
#css-logo:hover {
    background-image: url(../img/css_colorido.png);
    transform: scale(0.9);
}


#javascript-logo {
    background-image: url(../img/javascript_sem_cor.png);
}
#javascript-logo:hover {
    background-image: url(../img/javascript_colorido.png);
    transform: scale(0.9);
}

.habilidades__texto-container {
    margin-top: 1em;
    padding: 0 1em;
    padding-bottom: 2em;
    text-align: center;
    font-family: var(--montserrat);
    font-weight: 400;
}

@media screen and (min-width: 1400px) {

    #habilidades {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .habilidades__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10em;
    }

    .container__texto-habilidades {
        display: flex;
        flex-direction: row;
    }

    .habilidades__imagens-container {
        gap: 2em;
    }

    .habilidades__imagens {
        transform: none;
    }

    .habilidades__texto {
        width: 500px;
    }

    #html-logo:hover {
        transform: scale(1.1);
    }
    
    #css-logo:hover {
        transform: scale(1.1);
    }
    
    #javascript-logo:hover {
        transform: scale(1.1);
    }
}