#inicio {
    display: block;
    text-align: center;
    padding: 0.5em 0;
}

.inicio__img {
    width: 80%;
    padding: 1em 0;
}

.inicio__titulo, .inicio__texto-principal {
    padding: 1em;
}

.inicio__titulo {
    font-family: var(--roboto);
    font-weight: 700;
}

.inicio__texto-principal {
    font-family: var(--montserrat);
    font-weight: 400;
}

.inicio-lista__container {
    display: flex;
    justify-content: center;
    gap: 1em 2em;
    padding: 1em 0;
    font-family: var(--montserrat);
    font-weight: 700;
}

.lista-item__container {
    display: flex;
    flex-wrap: wrap;
    width: 18em;
    list-style: disc;
    justify-content: space-between;
}

.lista__botao-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 0.5em;
    border: 3px solid var(--borda-botoes);
    border-radius: 2em;
    padding: 0.2em;
    font-weight: 700;
    font-family: var(--roboto);
}
.lista__botao-link > .github__container {
    padding-right: 0.2em;
}

.lista__botao-link:hover {
    background: var(--azul-escuro);
}

.lista__botao-linkedin {
    width: 30%;
}
.lista__botao-github {
    width: 32.7%;
}

@media screen and (min-width: 1024px) {
    #inicio {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
    }

    .inicio__texto-principal {
        font-weight: 700;
    }

    .inicio__img {
        width: 30%;
        height: 45%;
    }

    .inicio__texto-principal {
        width: 25em;
    }
}

@media screen and (min-width: 1400px) {
    #inicio {
        justify-content: space-evenly;
    }

    .inicio__img {
        width: 25%;
    }
}

@media screen and (min-width: 1650px) {
    .inicio__img {
        width: 20%;
    }
}