#inicio {
    display: block;
    text-align: center;
    padding: 0.5em 0;
    height: 100vh;
}

.inicio__img {
    width: 80%;
    padding: 1em 0;
}

.inicio__titulo, .inicio__texto-principal {
    padding: 0.2em;
}

.inicio__titulo {
    font-family: var(--roboto);
    font-weight: 700;
}

.inicio__texto-principal {
    font-family: var(--montserrat);
    font-weight: 400;
}

.inicio-lista__container {
    display: flex;
    justify-content: space-evenly;
    padding: 1em 0;
    font-family: var(--montserrat);
    font-weight: 700;
}

.botao-link > .github__container {
    padding-right: 0.2em;
}


@media screen and (min-width: 1024px) {
    #inicio {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
    }

    .inicio__texto-principal {
        width: 25em;
    }
}
