#sobre__mim {
    display: block;
    text-align: center;
    margin: 1em 0 1em 0;
    padding: 2em 0;
}

.sobre-mim__img {
    width: 95%;
}

.sobre-mim__container {
    margin-top: 2em;
}

.sobre-mim__titulo {
    margin-bottom: 1em;
    font-family: var(--roboto);
    font-weight: 700;
    font-size: larger;
}

.sobre-mim__texto {
    padding: 0.1em 0.5em;
    font-family: var(--montserrat);
    font-weight: 400;
    font-size: large;
}

@media screen and (min-width: 1024px) {
    #sobre__mim {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100vh;
    }

    .sobre-mim__texto {
        font-weight: 400;
    }

    .sobre-mim__img {
        width: 25%;
    }

    .sobre-mim__texto {
        width: 25em;
    }
}


@media screen and (min-width: 1600px) {
    .sobre-mim__img {
        width: 20%;
    }
}